* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #002657;
    --secondary-color: #F0F4F9;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    font-style: normal;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
}

.skip-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    color: var(--primary-color);
}

/* Navbar */
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 24px 96px;
    flex-wrap: wrap;
}

.navbar .container .logo {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.navbar .main-menu ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    padding: 10px 12px;
    display: block;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #fff;
    color: var(--primary-color);
    font-weight: 700;
}

.menu-toggle {
    flex-direction: column;
    justify-content: space-between;
    width: 44px;
    height: 44px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    font-size: 24px;
    color: #fff;
}

.menu-toggle span {
    display: block;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.3s ease;;
}

.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
}


@media (max-width: 786px) {
    .menu-toggle {
        display: flex;
    }

    .main-menu {
        display: none;
        width: 100%;
        flex-direction: column;
        margin-top: 16px;
        background-color: var(--primary-color);
    }

    .main-menu.active {
        display: flex;
    }

    .main-menu ul {
        flex-direction: column;
        width: 100%;
    }

    .main-menu ul li {
        text-align: center;
        margin: 8px 0;
    }

    .main-menu ul li a {
        padding: 12px
    }

    #navbar.scrolled .main-menu {
        background-color: #fff;
    }

    #navbar.scrolled .menu-toggle {
        color: var(--primary-color);
    }

    #navbar.scrolled .menu-toggle span {
        background-color: var(--primary-color);
    }

}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#navbar.scrolled {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

#navbar.scrolled .container .logo,
#navbar.scrolled .main-menu a {
    color: var(--primary-color);
}

#navbar.scrolled ul li a:hover {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
}

/* Hero */
.hero {
    padding: 96px;
    background: var(--primary-color);
}

.hero .container .hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-content h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'Space Mono', monospace;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.hero-content p {
    font-size: 125%;
    color: #fff;
}

/* POUR */
.POUR .container-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 96px;
}

.POUR-Principles-Containers {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    padding: 24px 24px;
    gap: 24px;
}

.box-heading {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 24px;
}

.box-section {
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    gap: 24px;
}

.box-subsection {
    display: flex;
    flex-direction: column;
}

.box-icon {
    height: 14px;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.subsection-bullets {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.problems-bullets, .solutions-bullets {
    padding-left: 40px;
}

/* About me */
.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
}

.bio-photo {
    height: 150px;
    width: 150px;
    align-self: center;
    border: 2px solid var(--primary-color);
    border-radius: 2px;
}

.row-1 {
    display: flex;
    width: 100%;
    gap: 24px;
}

.row1-text {
    width: 852px;
}

.row-2 {
    display: flex;
    width: 100%
}

.text-block {
    width: 50%;
    text-align: left;
}

.interests-bullets, .hobbies-bullets {
    padding-left: 13px;
}

@media (max-width: 768px) {
  .row-1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .row1-text {
    width: 90%;
  }

  .text-block {
    width: 100%;
  }

  .row-2 {
    flex-direction: column;
    align-items: center;
  }

  .bio-photo {
    margin-bottom: 16px;
  }
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 34px 96px;
    background-color: var(--primary-color);
}

/* Utility Classes */
.container-main {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 96px;
}

/* Text Classes */
.text-xl {
    font-family: 'Space Mono', monospace;
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
    margin-bottom: 48px;
}

.text-l {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
}

.text-bold {
    font-size: 24px;
    font-weight: 700;
}

.text-bold-sm {
    font-weight: 700;
    color: #fff
}

.text-reg-sm {
    font-weight: 400;
    color: #fff
}